@model Project_BanLapTop.Models.tb_user
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "user";
}
<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold">
            Thêm người dùng
        </div>
        <div class="card-body">
            <form action="~/Admin/User/Create" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <span class="text-danger">@TempData["UserExsist"]</span>
                <div class="form-group">
                    <label for="fullname">Họ và tên</label>
                    <input class="form-control" type="text" name="Fullname" id="fullname" value="@Model.Fullname">
                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="Email" id="email" value="@Model.Email">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="username">Tên đăng nhập</label>
                    <input class="form-control" type="text" name="Username" id="username" value="@Model.Username">
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Password">Mật khẩu</label>
                    <input class="form-control" type="password" name="Password" id="Password">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Password">Xác nhận mật khẩu</label>
                    <input class="form-control" type="password" name="Confirm_password" id="Confirm_password">
                    <span class="text-danger">@TempData["Confirm_password"]</span>
                    <span class="text-danger">@TempData["Password"]</span>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-2 col-form-label">Nhóm quyền</label>
                    @{
                        var list_role = ViewBag.List_role as List<Project_BanLapTop.Models.tb_role>;
                        if (list_role != null)
                        {
                            foreach (var role in list_role)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="@role.idRole" name="@role.idRole" value="@role.idRole">
                                    <label class="form-check-label" for="@role.idRole">@role.Name</label>
                                </div>
                            }
                        }
                    }
                </div>
                <button type="submit" class="btn btn-primary">Thêm mới</button>
            </form>
        </div>
    </div>
</div>