@model PagedList.IPagedList<Project_BanLapTop.Models.tb_user>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Active = "user";
}
<div id="content" class="container-fluid">
    <div class="card">
        @if (TempData["Status"] != null)
        {
            <div class="alert alert-success">
                @TempData["Status"]
            </div>
        }
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center">
            <h5 class="m-0 ">Danh sách thành viên</h5>
            <div class="form-search form-inline">
                <form action="">
                    <input type="text" class="form-control form-search" name="key" value="@ViewBag.Key" placeholder="Nhập tên cần tìm kiếm">
                    <input type="submit" name="btn-search" value="Tìm kiếm" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-checkall">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        var temp = 0;
                        foreach (var item in Model)
                        {
                            temp++;
                            <tr>
                                <th scope="row">@temp</th>
                                <td>@item.Fullname</td>
                                <td>@item.Username</td>
                                <td>@item.Email</td>
                                <td>@string.Format("{0:dd-mm-yyyy}", item.CreatedDate)</td>
                                <td>
                                    <a href="~/Admin/User/Update/@item.Id" class="btn btn-success btn-sm rounded-0 text-white" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                                    @if (Project_BanLapTop.Areas.Admin.Data.MyLibrary.GetIDByUserLogin() != item.Id)
                                    {
                                        <a href="~/Admin/User/Delete/@item.Id" class="btn btn-danger btn-sm rounded-0 text-white" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                     }else
                    {
                            <tr class="text-center">
                                <td colspan="6">Không có dữ liệu cần tìm kiếm</td>
                            </tr>
                    }

                </tbody>
            </table>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page, pageSize = ViewBag.PageSize }))
        </div>
    </div>
</div>